* {
    font-family: 'Poppins', sans-serif;
}

.display-flex {
    display: flex;
}

body {
    padding: 20px;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.full {
    height: 100%;
    width: 100%;
}

.meio {
    justify-content: center;
}

.alinhar-meio {
    align-items: center;
}

.justify-beetwen {
    justify-content: space-between;
}

.justify-evenly {
    justify-content: space-evenly;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.boxtitulo {
    height: 15vh;
}

.boximagem {
    width: 10%;

    img {
        height: auto;
        width: 100%;
    }
}

.borda {
    border: 1px solid #ddd;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.boxbuscar {
    height: 40%;
    width: 65%;

    span {
        color: #278FC5;
        font-weight: 700;
        font-size: 42px;
        font-style: bold;

    }

    .borda {
        border: 1px solid #ddd;
        background: #fff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    }

    img {
        width: 16px;
        height: 16px;
    }

    .tamanhoponta {
        width: 5%;
    }

    .format {
        height: 35%;
        width: 35%;
    }

    .borda {
        background-color: #c4dcea;
        border-radius: 8px;
        padding: 8px;
        cursor: pointer;
        transition: background 0.3s;
    }

    .borda:hover {
        background: #9ccde8;
    }

    .search-input {
        flex: 1;
    }

    .search-input input {
        border: none;
        outline: none;
        height: auto;
        width: 100%;
        font-size: 16px;
        padding: 6px;
    }

}


/* TELA DE VISUALIZAÇÃO DE PROJETOS */

.boxCabecalho {
    height: 15vh;



    .img {
        height: 90%;

        width: 15%;

        img {
            height: auto;
            width: 70%;
        }
    }

    .boxBuscar {
        height: 90%;
        width: 65%;
    }

    .search-bar {
        display: flex;
        align-items: center;
        width: 90%;
        max-width: 800px;
        margin: 50px auto;
        border-bottom: 2px solid #ccc;
        box-shadow: 0px 3px 4px -2px rgba(0, 0, 0, 0.3);
    }

    .icon {
        padding: 0 10px;
        font-size: 16px;
        color: #555;
    }

    .search-input {
        flex: 1;
        border: none;
        outline: none;
        font-size: 16px;
        padding: 10px 0;
    }

    .add-btn {
        background-color: #b5d5e9;
        border: none;
        border-radius: 10px;
        width: 35px;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5px;
        cursor: pointer;
    }

    .add-btn span {
        font-size: 20px;
        font-weight: bold;
        color: #333;
    }
}

.bordaBoxTabelNav {
    border-top: 1px solid #b3b3b3;
    border-bottom: 1px solid #b3b3b3;
}

.boxTabelaNav {
    height: 7vh;
    width: 100%;


    /* background-color: red; */

    .boxCheckBox {
        height: 100%;
        width: 5%;

        /* background-color: purple; */
    }

    .boxSpan {
        width: 15%;
        height: auto;
        word-wrap: break-word;

        span {
            text-align: center;
        }
    }
}

#lista-projetos {
    width: 100%;
}