/* TELA DE CADASTRO */

.titulo {
    img {
        left: 28vw;
    }
}

.form-cadastro {
    display: flex;
    height: 70vh;
    align-items: center;
    justify-content: center;
    gap: 50px;

    .form {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 35.5vw;
        height: 60vh;

        span {
            font-size: 1rem;
            font-weight: 500;
        }

        input {
            padding: 10px;
            border: 1px solid #b3b3b3;
            border-radius: 3px;
            width: 35.5vw;
        }

        select {
            padding: 10px;
            border: 1px solid #b3b3b3;
            border-radius: 3px;
            width: 37vw;
        }
    }
}