.equipe {
    width: 80%;
    padding: 30px;
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
}

.col-eqp {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
}

.card-prof {
    width: 430px;
    border: 1px solid #cfcfcf;
    padding: 15px;
    display: flex;
    font-family: 'Poppins', sans-serif;
    gap: 20px;
}

.lado-esquerdo {
    width: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.foto {
    width: 100px;
    height: 100px;
    border: 1px solid #cfcfcf;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foto img {
    width: 70px;
    height: 70px;
}

.btn-perfil {
    background-color: #1e88c8;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 7px 12px;
    font-size: 13px;
    cursor: pointer;
    width: 6vw;
}

.lado-direito {
    flex: 1;
}

.lado-direito p {
    margin: 6px 0;
}

.linha-info {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.seletor-projeto {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.label-projeto {
    display: flex;
    flex-direction: column;
}

.select-projeto {
    padding: 10px;
    border: 1px solid #b3b3b3;
    border-radius: 3px;
    width: 37vw;
}

#btnBuscarEquipe {
    width: 37vw;
    border-radius: 3px;
}

#tituloEquipe {
    display: flex;
    align-items: center;
    justify-content:center;
}

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}