* {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* TELA DE LOGIN */

.login {
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

aside {
    width: 50%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    img {
        width: 50%;
    }

    h2 {
        color: #278FC5;
    }

    h5 {
        color: #718088;
    }

    .formulario {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 30vw;
        height: 30vh;

        span {
            font-size: 0.8rem;
        }

        .input {
            padding: 10px;
            border: 1px solid #b3b3b3;
            border-radius: 3px;
        }
    }

}

article {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #278FC5;

    img {
        width: 70%;
    }
}

button {
    width: 30vw;
    height: 5vh;
    background-color: #278FC5;
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;

    a {
        text-decoration: none;
        color: #fff;
    }
}